.banner {
    justify-content: center;
    height: 80vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.banner .overlay {
    opacity: 0.8;
}

.banner .btn-wrapper {
    gap: 40px;
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}